{% extends 'App/Main.twig' %}

{% block content %}
    <div class="ui three column grid">
        <div class="column">
            <div class="ui card fluid">
                <div class="image">
                    <img src="../assets/images/undraw_add_notes_8cfw.svg" alt="" srcset="" class="card-img-top">
                </div>
                <div class="content">
                    <h1 class="header">Add Questions</h1>
                </div>
                <div class="extra content">
                    <a href="/question/create" class="ui primary fluid button">Let's Go</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card fluid">
                <div class="image">
                    <img src="../assets/images/undraw_content_creator_xeju.svg" alt="" srcset=""
                        class="card-img-top">
                </div>
                <div class="content">
                    <h1 class="header">Create Question Paper</h1>
                </div>
                <div class="extra content">
                    <a href="/question/paper/create" class="ui primary fluid button">Generate</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card fluid">
                <div class="image">
                    <img src="../assets/images/undraw_File_bundle_xl7g.svg" alt="" srcset="" class="card-img-top">
                </div>
                <div class="content">
                    <h1 class="header">Old Question Paper</h1>
                </div>
                <div class="extra content">
                    <a href="/question/paper/old" class="ui primary fluid button">Show</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui three column grid">
        <div class="column">
            <div class="ui card fluid">
                <div class="content">
                    <a href="/board/create" class="ui primary fluid button">Create Board</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card fluid">
                <div class="content">
                    <a href="/std/create" class="ui primary fluid button">Create STD.</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card fluid">
                <div class="content">
                    <a href="/module/create" class="ui button fluid primary">Create Module</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui three column grid">
        <div class="column">
            <div class="ui card fluid">
                <div class="content">
                    <a href="/board/show" class="ui button primary fluid">Show Board</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card fluid">
                <div class="content">
                    <a href="/std/show" class="ui button primary fluid">Show STD.</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card fluid">
                <div class="content">
                    <a href="/module/show" class="ui button primary fluid">Show Modules</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui two column grid">
        <div class="column">
            <div class="ui card fluid">
                <div class="content">
                    <a href="/subject/create" class="ui button fluid primary">Create Subject</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui card fluid">
                <div class="content">
                    <a href="/subject/show" class="ui primary button fluid">View Subjects</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
