<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>NeXGen Question Paper Generator</title>
	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
	<link rel="stylesheet" href="../assets/nexgen/main.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	<script>if (window.module) module = window.module;</script>
</head>

<body>
	<div class="ui container" style="padding-top: 20px;">
		<div class="ui huge header">NeXGen</div>
		<span>Exams are tough, conducting one should be easy</span>
		<br>
		<br>
		<div class="ui three column grid">
			<div class="column">
				<div class="ui card">
					<div class="image">
						<img src="../assets/images/undraw_add_notes_8cfw.svg" alt="" srcset="" class="card-img-top">
					</div>
					<div class="content">
						<h1 class="header">Add Questions</h1>
					</div>
					<div class="extra content">
						<a href="" class="ui primary fluid button">Let's Go</a>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui card">
					<div class="image">
						<img src="../assets/images/undraw_content_creator_xeju.svg" alt="" srcset=""
							class="card-img-top">
					</div>
					<div class="content">
						<h1 class="header">Create Question Paper</h1>
					</div>
					<div class="extra content">
						<a href="" class="ui primary fluid button">Generate</a>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui card">
					<div class="image">
						<img src="../assets/images/undraw_File_bundle_xl7g.svg" alt="" srcset="" class="card-img-top">
					</div>
					<div class="content">
						<h1 class="header">Old Question Paper</h1>
					</div>
					<div class="extra content">
						<a href="" class="ui primary fluid button">Show</a>
					</div>
				</div>
			</div>
		</div>
		<div class="ui three column grid">
			<div class="column">
				<div class="ui card">
					<div class="content">
						<a onclick="handleCreateBoard()" class="ui primary fluid button">Create Board</a>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui card">
					<div class="content">
						<a onclick="handleCreateSTD()" class="ui primary fluid button">Create STD.</a>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui card">
					<div class="content">
						<a onclick="handleCreateModule()" class="ui button fluid primary">Create Module</a>
					</div>
				</div>
			</div>
		</div>
		<div class="ui three column grid">
			<div class="column">
				<div class="ui card">
					<div class="content">
						<a onclick="handleViewBoard()" class="ui button primary fluid">Show Board</a>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui card">
					<div class="content">
						<a onclick="handleViewSTD()" class="ui button primary fluid">Show STD.</a>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui card">
					<div class="content">
						<a onclick="handleViewModule()" class="ui button primary fluid">Show Modules</a>
					</div>
				</div>
			</div>
		</div>
		<div class="ui two column grid">
			<div class="column">
				<div class="ui card fluid">
					<div class="content">
						<a onclick="handleCreateSubject()" class="ui button fluid primary">Create Subject</a>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="ui card fluid">
					<div class="content">
						<a onclick="handleViewSubject()" class="ui primary button fluid">View Subjects</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="./../index.js"></script>
</body>
</html>
